/* Umumiy uslublar */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 900px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* About section layout */
.about-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about-image img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.about-description h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 5px;
}

.about-description p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.8;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
}

section p {
    font-size: 1.1em;
    color: #666;
    line-height: 1.8;
}
